h1 {
  margin-top: 30px;
  text-align: center;
}

body {
  background: #f8e39c;
}

img {
  width: 800px;
  display: block;
  margin: 40px auto;
  border-radius: 7px;
}

.links {
  display: flex;
  justify-content: space-evenly;
}

.link {
  text-decoration: none;
  color: green;
}

.text-croissant {
  text-align: center;
  margin: 30px auto;
}
